* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: #888;
  margin: 0;
  padding: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* section style */
#section-top {
  background: linear-gradient(to bottom, #FE8C4D 30%, #FD5554 90%);
  overflow: hidden;
}
#section-top header {
  width: 80%;
  margin: auto;
}
#section-top header h1 {
  display: inline-block;
  color: #f2f2f2;
  font-size: 2em;
  margin-left: 1em;
}
#section-top header nav {
  float: right;
}
#section-top header nav ul {
  list-style-type: none;
}
#section-top header nav ul li {
  display: inline-block;
  margin: 1.6em auto;
}
#section-top header nav ul li a {
  display: block;
  text-decoration: none;
  color: #f2f2f2;
  margin-left: 1em;
  font-size: 0.8em;
  padding: 0.5em 1em;
}
#section-top header nav ul li a:hover {
  font-weight: 700;
  color: #fff;
}
#section-top .content {
  width: 80%;
  margin: auto;
  position: relative;
}
.content .tagline {
  float: left;
  width: 60%;
  padding: 6em 9em 6em 1em;
  color: #f2f2f2;
}
.content .tagline img {
  margin: 1em 0.3em;
  display: inline-block;
}
.content .tagline h1 {
  font-size: 2.5em;
  padding: 0.7em 0em;
}
.content .tagline p {
  font-size: 0.8em;
}
.content .device {
  width: 400px;
  float: left;
  position: absolute;
  bottom: 3em;
  transform: translate(0%, 50%);
}


#person {
  background: #FFF4EE;
}
#person .content {
  width: 90%;
  margin: auto;
  position: relative;
  padding: 60px;
}
#person .content .ios {
  width: 50%;
  position: relative;
  top: 60px;
  float: left;
}
#person .content .ios > img {
  transform: translate(-40%, 0%);
  width: 800px;
  height: 500px;
}
#person .content .aside {
  float: right;
  width: 50%;
  margin-top: 100px;
}
#person .content .aside .top {
  width: 100%;
  margin-bottom: 2em;
}
#person .content .aside .top h1 {
  color: #F05D64;
  font-size: 1.7em;
  margin: 0.3em 1em 0.2em 0em;
  text-align: left;
}
#person .content .aside .top p {
  color: #A9A6A3;
  font-size: 0.9em;
}
#person .content .aside .bottom .desc1 {
  width: 50%;
  float: left;
  padding: 5px;
  padding-right: 40px;
}
#person .content .aside .bottom .desc2 {
  width: 50%;
  float: left;
  padding: 5px;
  padding-right: 40px;
}
#person .content .tag-p {
  color: #A9A6A3;
  font-size: 0.9em;
}
#person .content .tag-h3 {
  color: #a8a8a8;
  font-size: 1em;
}
#person .content .aside .bottom .img img {
  width: 80px;
}

#how-it-works {
  background: #FEFEFE;
  padding: 50px;
}
#how-it-works .content {
  width: 90%;
  margin: auto;
  text-align: center;
}
#how-it-works .content > h1 {
  color: #F05D64;
  font-size: 2em;
  margin-bottom: 1.5em;
}
#how-it-works .content .box {
  width: 33.33%;
  float: left;
  padding: 10px;
}
#how-it-works .content .box .img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
#how-it-works .content .box .img img {
  height: 100%;
}
#how-it-works .content .box h1 {
  color: #898989;
  font-size: 1em;
}
#how-it-works .content .box p {
  color: #B3B3B3;
  font-size: 0.9em;
}

#download {
  background: linear-gradient(to bottom, #FE8C4D 30%, #FD5554 90%);
  overflow: hidden;
}
#download .content {
  width: 80%;
  margin: auto;
  position: relative;
}

footer {
  background: #1A1615;
  color: #f2f2f2;
  width: 100%;
  height: 50px;
}
footer .content-left {
  float: left;
  margin-left: 40px;
}
footer p {
  font-size: 0.9em;
}
footer .content-right {
  float: right;
}
footer .content-right a {
  text-decoration: none;
  color: #f2f2f2;
  display: inline-block;
  margin-right: 10px;
}
